
body {
    font-family: "Roboto", "Open Sans", sans-serif;
}
.navbar { 
    background-color: #1e202b;
}

.navbar a {
    font-size: 14px;
}

.navbar-brand {
    font-size: 32px !important;
}

#home {
    background-image: url(../images/pexels-pixabay-268791.jpg);
    background-size: cover;
    background-position: center;
    /* height: 100vh; */
}


#otherRelatdeInfo img {
    width: 21px;
    height: 21px;
    margin-right: 8px;
}

#otherRelatdeInfo span {
    font-size: 14px;
}

.row {
    color: #bdbcbc !important;
    padding-bottom: 80px;
}

#currentTemp, #TomorrowHigherTemp, #afterTomorrowHigherTemp {
    color: #fff;
}

#currentTemp {
    font-size: 75px;
}

#currentIcon {
    width: 25%;
}

#todayWeather, #afterTomorrowWeather {
    background-color: #323544;
}
#todayWeather {
    border-radius: 10px 0 0 0;
}
#todayWeather .dateInfo {
    border-radius: 10px 0 0;
}

#afterTomorrowWeather .dateInfo {
    border-radius: 0 10px 0 0;
}

#afterTomorrowWeather {
    border-radius: 0 10px 0 0;
}

#TomorrowWeather, #FifthDayWeather {
    background-color: #262936;
}

#TomorrowWeather .dateInfo, #FifthDayWeather .dateInfo {
    background-color: #222530;
    font-size: 15px;
}

#FourthDayWeather .dateInfo, #SixthDayWeather .dateInfo {
    background-color: #2d303d;
    font-size: 15px;
}


#todayWeather .dateInfo, #afterTomorrowWeather .dateInfo  {
    background-color: #2d303d;
    font-size: 15px;
}

#currentWeatherStatus, #TomorrowWeatherStatus, #afterTomorrowWeatherStatus {
    font-size: 15px;
    color: #009ad8 !important;
}

#findBtn, #subscribeBtn {
    background-color: #009ad8;
    color: #fff !important;
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 5px;
    z-index: 1000;
}

#footer {
     background-color: #1e202b;
     position: relative;
}

.navbar .btn.active {
    border: solid 2px #009ad8;
}

#contactList {
    list-style: none;
}


#contactList li {
    padding-right: 15px;
    font-size: 25px;
}

.subscribe_Contacts .input-group {
    width: 70% !important;
}

#credits p {
    font-size: 14px;
    color: #bdbcbc !important;
}

.accordion-item, .accordion-body, .accordion-header, .accordion-collapse {
    border-radius: 0 0 10px 10px !important;
}
.accordion-item {
    background-color: #323544;
}

.accordion-body  .titles {
    font-size: 14px;  
}

.accordion-body  .values {
    color: #fff;
}